body {
    font-family: 'Montserrat', sans-serif;
    min-width: 1200px;
}

.header {
    background: url(../img/background/section-1.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 1021px;
}

.nav-bg {
    background-color: rgba(73, 71, 63, 0.6);
    height: 120px;
}

.nav-flex {
    display: flex;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    text-align: center;
}

.header-link {
    padding-top: 28px;
    display: block;
    width: 200px;
}

.nav {
    padding-top: 50px;
    width: 960px;
}

.nav-item {
    display: inline-block;
    text-transform: uppercase;
    padding-left: 40px;
}

.nav-item a {
    color: #b8b8b8;
    font-size: 13px;
    font-weight: 700;
    padding-bottom: 44px;
}

.nav-item a:hover {
    color: #18cfab;
    border-bottom: 2px solid #18cfab;
}

.header-title,
.header-caption {
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
}

.header-title {
    font-size: 35px;
    font-weight: 700;
    padding-top: 246px;
}

.green {
    color: #18cfab;
}

.header-caption {
    font-size: 79px;
    padding-top: 45px;
}

.header-tit {
    color: #d4d4d4;
    font-size: 34px;
    font-weight: 300;
    padding-top: 37px;
}

.header-button {
    margin-top: 146px;
}

.header-button-green,
.header-button-blue {
    border-radius: 4px;
    width: 166px;
    height: 61px;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    margin: 0 27px 0 27px;
    border-top: 5px solid #fff;
}

.header-button-green:focus,
.header-button-blue:focus {
    outline: none;
}

.header-button-green {
    background-color: #18cfab;
}

.header-button-blue {
    background-color: #00cbf6;
}

.boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 374px;
}

.boxes-dark,
.boxes-green {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.boxes-dark {
    background-color: #1c2a33;
    color: #18cfab;
    border-top: 7px solid #18cfab;
}

.boxes-green {
    background-color: #18cfab;
    color: #fff;
    border-top: 7px solid #fff;
}

.boxes-img {
    display: block;
    margin: 88px auto 48px;
    height: 97px;
}

.boxses-title {
    text-align: center;
}

.servises-caption {
    text-transform: capitalize;
    color: #4e4e4e;
    font-size: 36px;
    font-weight: 400;
    padding-top: 82px;
    display: block;
    position: relative;
}

.servises-caption:before,
.servises-caption:after {
    content: '';
    position: absolute;
    background-color: #18cfab;
    width: 76px;
    height: 1px;
}

.servises-caption:before {
    left: 50%;
    margin-left: -27px;
    bottom: -37px;
}

.servises-caption:after {
    left: 50%;
    margin-left: -17px;
    bottom: -41px;
}

#tabs {
    margin-top: 70px;
}

.tabs-nav {
    display: grid;
    grid-template-columns: repeat(6, 193px);
    grid-template-rows: 73px;
    margin-top: 112px;
}

.tab {
    color: #717171;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #ebebeb;
    padding-top: 27px;
    cursor: pointer;
    text-transform: capitalize;
    position: relative;
}

.greeborder {
    background-color: #18cfab;
    border: 1px solid #18cfab;
}

.greeborder:after {
    content: '';
    border: 20px solid transparent;
    border-top: 20px solid #18cfab;
    position: absolute;
    left: 50%;
    margin-left: -19px;
    bottom: -30px;
    width: 0;
}

.tabContent {
    display: grid;
    grid-template-columns: 194px 5fr;
    margin-top: 25px;
    margin-bottom: 105px;
}

.tabContent-img {
    width: 194px;
    height: 139px;
}

.tabContent-text {
    color: #777777;
    font-size: 13.64px;
    font-weight: 300;
    line-height: 24px;
    padding-left: 20px;
    text-align: justify;
}

#tabs .hide {
    display: none;
}

#tabs .show {
    display: grid;
}

.everything {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/background/section-2.jpg) no-repeat center;
    background-size: cover;
    height: 474px;
}

.everything-caption {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    padding-top: 126px;
}

.everything-title {
    color: #d8d8d8;
    font-size: 16px;
    font-weight: 400;
    padding-top: 35px;
    padding-bottom: 80px;
}

.amazing {
    background-color: #f8fcfe;
}

.amazing-filters li {
    display: inline-block;
}

.amazing-filters li a {
    border: 1px solid #ebebeb;
    padding: 24px 20px 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    color: #717171;
    margin: -3px;
}

.amazing-filters {
    padding-top: 101px;
}

.amazing-filters li.active a {
    border-top: 2px solid #18cfab;
    color: #18cfab;
}

.amazing-img {
    padding-top: 91px;

}

.amazing-inline {
    display: inline-block;
    margin: -4px;
    cursor: pointer;
    width: 286px;
    height: 208px;
    position: relative;
}

.amazing-inline:hover .amazing-hidden {
    opacity: 1;
}

.amazing-hidden {
    width: 286px;
    height: 208px;
    border-top: 2px solid #18cfab;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    opacity: 0;
    background: #fff;
}

.amazing-box-link {
    margin-top: 43px;
}

.amazing-link {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #18cfab;
}

.white-color,
.green-color {
    padding-top: 10px;
}

.green-color {
    background: #18cfab;
}

.link-title {
    display: inline-block;
    text-transform: uppercase;
    color: #18cfab;
    font-size: 14px;
    font-weight: 700;
    margin-top: 34px;
}

.box-text {
    color: #8a8a8a;
    font-size: 12px;
    font-weight: 300;
    text-transform: capitalize;
    margin-top: 13px;
}

#amazing-btn {
    border-radius: 4px;
    background-color: #18cfab;
    width: 165px;
    height: 60px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 71px;
    border: none;
    cursor: pointer;
    margin-bottom: 100px;
}

#hidden,
#hidden-two {
    display: none;
    padding-top: 0;
}

/*прелоадер*/
.hide {
    display: none;
}

.loader {
    font-size: 35px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 50px auto 50px;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.5s infinite ease;
    animation: load6 1.5s infinite ease;
}

@-webkit-keyframes load6 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        box-shadow: 0 -0.83em 0 -0.4em #999999, 0 -0.83em 0 -0.42em #999999, 0 -0.83em 0 -0.44em #999999, 0 -0.83em 0 -0.46em #999999, 0 -0.83em 0 -0.477em #999999;
    }

    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em #999999, 0 -0.83em 0 -0.42em #999999, 0 -0.83em 0 -0.44em #999999, 0 -0.83em 0 -0.46em #999999, 0 -0.83em 0 -0.477em #999999;
    }

    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em #999999, -0.087em -0.825em 0 -0.42em #999999, -0.173em -0.812em 0 -0.44em #999999, -0.256em -0.789em 0 -0.46em #999999, -0.297em -0.775em 0 -0.477em #999999;
    }

    20% {
        box-shadow: 0 -0.83em 0 -0.4em #999999, -0.338em -0.758em 0 -0.42em #999999, -0.555em -0.617em 0 -0.44em #999999, -0.671em -0.488em 0 -0.46em #999999, -0.749em -0.34em 0 -0.477em #999999;
    }

    38% {
        box-shadow: 0 -0.83em 0 -0.4em #999999, -0.377em -0.74em 0 -0.42em #999999, -0.645em -0.522em 0 -0.44em #999999, -0.775em -0.297em 0 -0.46em #999999, -0.82em -0.09em 0 -0.477em #999999;
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        box-shadow: 0 -0.83em 0 -0.4em #999999, 0 -0.83em 0 -0.42em #999999, 0 -0.83em 0 -0.44em #999999, 0 -0.83em 0 -0.46em #999999, 0 -0.83em 0 -0.477em #999999;
    }
}

@keyframes load6 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        box-shadow: 0 -0.83em 0 -0.4em #999999, 0 -0.83em 0 -0.42em #999999, 0 -0.83em 0 -0.44em #999999, 0 -0.83em 0 -0.46em #999999, 0 -0.83em 0 -0.477em #999999;
    }

    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em #999999, 0 -0.83em 0 -0.42em #999999, 0 -0.83em 0 -0.44em #999999, 0 -0.83em 0 -0.46em #999999, 0 -0.83em 0 -0.477em #999999;
    }

    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em #999999, -0.087em -0.825em 0 -0.42em #999999, -0.173em -0.812em 0 -0.44em #999999, -0.256em -0.789em 0 -0.46em #999999, -0.297em -0.775em 0 -0.477em #999999;
    }

    20% {
        box-shadow: 0 -0.83em 0 -0.4em #999999, -0.338em -0.758em 0 -0.42em #999999, -0.555em -0.617em 0 -0.44em #999999, -0.671em -0.488em 0 -0.46em #999999, -0.749em -0.34em 0 -0.477em #999999;
    }

    38% {
        box-shadow: 0 -0.83em 0 -0.4em #999999, -0.377em -0.74em 0 -0.42em #999999, -0.645em -0.522em 0 -0.44em #999999, -0.775em -0.297em 0 -0.46em #999999, -0.82em -0.09em 0 -0.477em #999999;
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        box-shadow: 0 -0.83em 0 -0.4em #999999, 0 -0.83em 0 -0.42em #999999, 0 -0.83em 0 -0.44em #999999, 0 -0.83em 0 -0.46em #999999, 0 -0.83em 0 -0.477em #999999;
    }
}

.breaking-portfolio {
    padding-top: 105px;
    display: grid;
    grid-template-columns: repeat(4, 263px);
    grid-column-gap: 28px;
    grid-row-gap: 45px;
    margin-bottom: 131px;
}

.breaking-portfolio-item {
    position: relative;
    display: block;
    border: 1px solid #ebebeb;
}

.breaking-portfolio-item:hover .data {
    background-color: #18cfab;
}

.breaking-portfolio-item:hover .breaking-portfolio-caption {
    color: #18cfab;
}

.data {
    background-color: #203e38;
    width: 68px;
    height: 66px;
    position: absolute;
    top: 0;
    right: -2px;
    color: #fff;
    font-size: 16px;
    padding-top: 14px;
}

.breaking-portfolio-item {
    background-color: #f8fcfe;
}

.breaking-portfolio-caption {
    color: #717171;
    font-size: 17.99px;
    font-weight: 700;
    padding-top: 14px;
}

.breaking-portfolio-details {
    color: #777777;
    font-size: 13.99px;
    font-weight: 300;
    line-height: 40px;
    padding-top: 14px;
    padding-bottom: 12px;
}

.details-admin {
    border-right: 1px solid #777777;
    padding-right: 15px;
}

.details-coment {
    padding-left: 13px;
}

.people {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/background/section-3.jpg) no-repeat center;
    background-size: cover;
    height: 852px;
}

.people-caption {
    color: #ffffff;
}

.people-img {
    display: block;
    padding-top: 105px;
    margin: auto;
}

.people-text {
    color: #bbbbbb;
    font-size: 16px;
    font-weight: 300;
    padding-top: 43px;
}

.slider-wrapper {
    width: 420px;
    margin: auto;
    text-align: center;
    outline: none;
}

.slider {
    margin-top: 43px;
    outline: none;

}

.slick-slide img {
    display: inline-block;
}

.slider-title {
    color: #18cfab;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.slider-discr {
    color: #bbbbbb;
    font-size: 13px;
    font-weight: 300;
    text-transform: capitalize;
    padding-top: 14px;
    margin-bottom: 37px;
}

.wrapper-img {
    width: 161px;
    height: 161px;
    margin: auto;
    border-radius: 50%;
    border: 7px solid rgba(31, 218, 181, 0.2);
}

.slider-img {
    border-radius: 50%;
    border: 2px solid #18cfab;

}

.slider-nav {
    margin-top: 69px;
    width: 400px;
}

.wrapper-nav {
    border-radius: 50%;
    padding-top: 20px;
    margin: 0 7px;
    outline: none;
    box-sizing: border-box;
}

.slider-nav .slick-current {
    margin-top: -10px;
}

.nav-img {
    border-radius: 50%;
    border: 6px solid rgba(31, 218, 181, 0.2);
}

.footer {
    height: 108px;
    background-color: #22353f;
}

.footer-copy {
    color: #aeaeae;
    font-size: 14px;
    font-weight: 300;
    padding-top: 47px;
    text-align: center;
}